---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face{
  font-family:GoodNews;
  src: url("https://d12gd74eaa9d1v.cloudfront.net/GoodWeb-News.woff") format("woff");
}

body {
  font-family: GoodNews,Helvetica,Arial,sans-serif;
}

.section-title {
  text-align: center;
}

.ad-box { 
  background-color: #e6e6e6;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #d0d0d0;
  p {
    margin: 10px 0;
  }
  margin-bottom: 20px;
}

.site-card {
    padding: 0 0 0 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
    .column div {
      padding: 15px;
    }
    .column.left {
    }
    h4 {
      margin-bottom: 0;
    }
    h4 small {
        margin-right: 10px;
        color: #5a5a5a;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.favicon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 2px;
}

.filter-section-link {
  border: 1px solid;
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  margin: 5px 0;
  &.active {
    border: 1px solid black;
    background-color: #1756a9;
    color: white;
  }
}

.underline-table {
  table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: .25rem;
    width: 100%;
  }

  @media only screen and (max-width: 640px) {
    table {
      font-size: 3vw;
    }
  }

  thead tr:first-child {
    background: #ed1c40;
    color: #fff;
    border: none;
  }

  thead tr:last-child th {
    border-bottom: 3px solid #ddd;
  }

  tbody tr:last-child td {
    border: none;
  }

  tbody td {
    border-bottom: 1px solid #ddd;
  }

  td:last-child {
    text-align: right;
    padding-right: 10px;
  }

  .button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
  }

  .edit:hover {
    color: #0a79df;
  }

  .delete:hover {
    color: #dc2a2a;
  }
}